@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$font: 'Roboto';
$textColor: #0282f9;
$linkColor: #86847c;
$containerWidth: 1000px;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}