@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$font: 'Roboto';
$lightText: #fff;
$textColor: #0282f9;
$linkColor: #86847c;
$bgDark: #1c1c1c;
$bgGrey: #303030;
$containerWidth: 1000px;
